html {
  height: 100%;
  margin: 0 auto;
  /* background-color: #90f1ef */
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
  /* opacity: .8; */
  /* background-color:hsl(0, 0%, 21%); */
  width: 100%;
  margin: 0 auto;
  padding: .75rem;
}

#root {
  background-color: rgb(255, 255, 255, .75);
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: .5rem;
  border-radius: 10px;
}

div.hero-body {
  background-image: url('./assets/HeroImage.png');
  height: 200px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

#hero-box {
  border-radius: 3px;
  /* border: 2px solid #363636; */
  box-shadow: 1px 1px 15px #363636;
}

#header {
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 6px #363636;
}

.background.notification {
  background-color: rgb(255, 255, 255, .0);
}

.sign-out-btn:hover {
  color:#7bf1a8;
}

/* #btn-box {
  width: 100%;
} */

#post-btn,
#update-btn,
.btn-css {
  background-color: #c1fba4;
  border: 1px solid #363636;
  /* box-shadow: 1px 1px 2px #363636; */
  border-radius: 100px;
}

#post-btn:hover,
#update-btn:hover, 
.btn-css:hover {
  background-color: #7bf1a8;
}

#post-btn:active,
#update-btn:active,
.btn-css:active {
  background-color: #7bf1a8;
  box-shadow: 1px 1px 2px inset #363636;
}

.input-css {
  border: 1px solid #363636;
}

.login-level-btn:hover {
  color:#7bf1a8;
}

#bloomiful {
  color: #ffef9f;
}

#Bloom {
  color: #ffd6e0;
}

#borhood {
  color: #90f1ef;
}

.search-container {
  box-shadow: 2px 1px 5px #363636;
  /* border: 1px solid #c1fba4; */
  border-radius: 10px;
}

#toggle-plants,
#toggle-posts {
  background-color: white;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #363636;
}

li.is-active>#toggle-posts,
li.is-active>#toggle-plants {
  background-color: #c1fba4;
  color: black;
}

li>#toggle-posts:hover,
li>#toggle-plants:hover {
  background-color: #7bf1a8;
}

li>#toggle-posts:active,
li>#toggle-plants:active {
  background-color: #7bf1a8;
  box-shadow: 2px 2px inset #363636;
}

/* #posts-search-btn.logged-in {
   border-radius: 0px;
} */

.post-box {
  height: 6rem;
}

.post-box.box-1 {
  background-color: #ffd6e0;
  border-radius: 5px 0 0 5px;
}

.post-box.box-2 {
  background-color: #ffef9f;
  border-radius: 0;
}

.post-box.box-3 {
  background-color: #90f1ef;
  border-radius: 0 5px 5px 0;
}

.hover-div {
  position: relative;
}

.hover-div::after {
  font-size: .9rem;
  color: red;
  content: "You must be logged in";
  position: absolute;
  top: 100%;
  left: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-div:hover::after {
  visibility: visible;
  opacity: 1;
}

.about-img {
  box-shadow: 1px 1px 6px #363636;
}

#about-div {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin: .5rem 1rem 1rem 1rem;
  padding: .25rem;
  box-shadow: 1px 1px 30px #363636;
}

#feedback-background, .share-background {
  background-color: #c1fba4;
  box-shadow: 1px 1px 30px #363636;
}

.modal-color {
  background-color: #c1fba4;
}

#footer {
  border-radius: 5px;
}

#test {
  font-size: 2rem;
  color: black;
}